.about {
  margin-top: 120px;

  &__content {
    font-size: 2rem;
    padding: 50px 0;
    line-height: 1.8;
  }
}

// locale
@include lang('en') {
  .about {
    &__content {
      font-size: 1.8rem;
    }
  }
}


// media query
@include media-median {
  .about {
    &__content {
      font-size: 1.6rem;
      padding: 30px 0;
    }
  }
}
