.about {
  margin-top: 120px;

  &__content {
    font-size: 2rem;
    padding: 50px 0;
    line-height: 1.8;
  }
}

// media query
@media screen and (max-width: $breakpoint-medium) {
  .about {
    &__content {
      font-size: 1.6rem;
      padding: 30px 0;
    }
  }
}
