.agenda {
  color: $cyan;
  text-align: right;
  margin-top: 130px;

  .c-title {
    text-align: left$hack;
  }

  &-content {
    margin: 5rem 0 10rem 0;

    img {
      width: 100%;
    }
  }
}

// media query
@include media-median {
  .agenda {
    text-align: left;
    margin-top: 60px;

    &-content {
      width: 100%;
      font-size: 1.8rem;

      &::before {
        right: auto;
        left: 5px;
      }
    }

    &-inline {
      padding: 20px 30px;

      &:nth-child(2n-1) {
        margin-left: 0;
      }

      &:first-child,
      &:last-child {
        padding-top: 0;
      }

      &::before {
        border-width: 6px;
        right: auto;
        left: 0;
      }

      &:nth-child(2n-1)::before {
        left: 0;
        margin-left: 0;
      }

      &__time {
        .icon {
          width: 20px;
          height: 20px;
        }
      }

      &__detail {
        padding-left: 32px;
      }

      &:nth-child(2n-1) {
        .agenda-inline__detail {
          padding-left: 32px;
        }
      }
    }
  }
}
