.banner {
  padding-top: $header-h + 100px;
  text-align: center;

  &__invite-btn {
    display: inline-block;
    color: $cyan;
    font-size: 2.4rem;
    font-weight: bold;
    border: 2px solid $cyan;
    padding: 8px 35px;
    border-radius: 8px;

    &:hover {
      color: #fff;
      background-color: $cyan;
    }
  }
}

.solgan {
  &__card {
    background-image: img-url('banner-solgan.png');
    padding-bottom: 365 / 1920 * 100%;
    width: 100%;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
  }

  &__info {
    position: relative;
    top: -45px;
    font-size: 2.4rem;
    margin-bottom: 35px;
  }

  &__line {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
  }

  .icon {
    width: 30px;
    height: 32px;
    margin-right: 10px;
  }
}



// media query
@media screen and (max-width: $breakpoint-medium) {
  .banner {
    &__invite-btn {
      font-size: 1.8rem;
    }
  }

  .solgan {
    &__card {
      background-size: 190%;
      padding-bottom: 365 / 1920 * 190%;
    }

    &__info {
      top: 0;
      font-size: 1.6rem;
      margin-bottom: 60px;
    }

    .icon {
      width: 20px;
      height: 20px;
    }

    &__line {
      margin-bottom: 10px;

      span {
        width: 80%;
        text-align: left;
      }
    }
  }
}
