.banner {
  padding-top: $header-h + 100px;
  text-align: center;

  &__invite-btn {
    display: inline-block;
    color: $cyan;
    font-size: 2.4rem;
    font-weight: bold;
    border: 2px solid $cyan;
    padding: 8px 35px;
    border-radius: 8px;

    &:hover {
      color: #fff;
      background-color: $cyan;
    }
  }
}

.solgan {
  &__card {
    background-image: img-url('banner-solgan.png');
    padding-bottom: 365 / 1920 * 100%;
    width: 100%;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
  }

  &__info {
    position: relative;
    top: -25px;
    font-size: 2.4rem;
    margin-bottom: 35px;
    padding: 0 10px;
  }

  &__line {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
  }

  .icon {
    width: 30px;
    height: 32px;
    margin-right: 10px;
    flex-shrink: 0;
  }

  &__address {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

// locale
@include lang('en') {
  .banner {
    &__invite-btn {
      font-size: 2rem;
    }
  }

  .solgan {
    &__card {
      background-image: img-url('banner-solgan-en.png');
      padding-bottom: 200 / 1440 * 130%;
      background-size: 130%;
    }

    &__info {
      top: -25px;
      font-size: 2rem;
      margin-bottom: 55px;
    }

    .icon {
      width: 25px;
      height: 25px;
    }

    &__line.is-special {
      flex-direction: column;
      flex-wrap: nowrap;
    }

    &__address-hint {
      font-size: 1.6rem;
      padding-left: 40px;
    }
  }
};

// media query
@include media-median {
  .banner {
    &__invite-btn {
      font-size: 1.8rem;
    }
  }

  .solgan {
    &__card {
      background-size: 190%;
      padding-bottom: 365 / 1920 * 190%;
    }

    &__info {
      top: 0;
      font-size: 1.6rem;
      margin-bottom: 60px;
      text-align: left;
    }

    .icon {
      width: 20px;
      height: 20px;
    }

    &__line {
      margin-bottom: 10px;
      justify-content: flex-start;
    }
  }
}

@include lang('en') {
  @include media-median {
    .solgan {
      &__card {
        padding-bottom: 200 / 1440 * 230%;
        background-size: 230%;
      }
    }
  }
}
