.footer {
  background-color: #FFF;
  padding: 8rem 0;

  a {
    color: #595959;

    &:hover {
      color: $orange;
    }
  }
  
  &__title {
    font-size: 4rem;
    color: $orange;
  }

  &-content {
    overflow: hidden;
    color: #595959;
    margin-top: 36px;
  }

  &-inline {
    float: left;
    width: 50%;

    &__title {
      font-size: 2.4rem;
    }
  }

  &-person {
    border-left: 1px solid $orange;
    font-size: 2rem;
    padding-left: 15px;
    line-height: 2;
    margin-top: 10px;

    &__name {
      font-size: 2.4rem;
    }

    .icon {
      position: absolute;
      height: 20px;
      width: 20px;
      margin-left: -30px;
    }

    &__contact {
      display: flex;
      align-items: center;
      padding-left: 30px;
      margin: 0;
    }
  }
}
