.guide {
  font-size: 2.4rem;
  margin-top: 130px;

  &-content {
    padding: 30px 0 100px;
  }

  &__image {
    width: 100%;
  }

  &__title {
    color: $cyan;
    margin-bottom: 15px;
    font-weight: bold;
  }

  &__intro {
    display: flex;
    margin-bottom: 20px;
  }

  &__intro-left {
    flex-basis: 50%;
  }

  &__intro-right {
    flex-basis: 50%;
    padding-left: 20px;
  }

  &__description {
    font-size: 2rem;
    line-height: 1.5;
  }

  &-location {
    overflow: hidden;
    margin-top: 40px;
    font-size: 2rem;
    line-height: 1.5;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    &-inline {
      width: 45%;
      float: left$hack;
      margin-bottom: 20px;

      &:nth-child(2n) {
        margin-left: 10%$hack;
      }
    }

    &__title {
      display: flex;
      align-items: center;
      margin-bottom: 10px;

      .icon {
        width: 3rem;
        height: 3rem;
        margin-right: 5px;
        vertical-align: middle;
      }
    }
  }
}

// locale
@include lang('en') {
  .guide {
    font-size: 2rem;

    &__description {
      font-size: 1.8rem;
    }

    &-location {
      font-size: 1.8rem;
    }

    &-location__title {
      font-weight: bold;
    }
  }
}

// media query
@include media-median {
  .guide {
    font-size: 1.8rem;
    margin-top: 50px;

    &-content {
      padding-bottom: 50px;
    }

    &__description {
      font-size: 1.6rem;
    }

    &-location {

      &__description {
        font-size: 1.6rem;
      }
    }

    &-location-inline {
      width: 100%;
    }
  }
}
