$header-h: 60px;

.header {
  color: #fff;
  position: fixed;
  width: 100%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 2;

  &__container {
    height: $header-h;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow:hidden$hack;
  }

  &__right {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 73%;
    margin-left: 27%$hack;
  }

  &__other {
    float: right$hack;
    line-height: $header-h$hack;
    margin-top: -$header-h$hack;
  }

  &__local {
    display: inline-block;
    margin-right: 25px;
    font-size: 1.8rem;

    a {
      margin: 0 4px;
    }

    a.is-active {
      color: $orange;
    }
  }

  &__gais {
    font-size: 2rem;
    font-weight: bold;

    &:hover {
      color: $orange;
    }
  }

  .hamburger {
    display: none;
    padding: 0;
    transform: scale(0.6);
    transform-origin: center right;
  }

  .hamburger-inner {
    &,
    &::before,
    &::after {
      background-color: #fff;
    }
  }
}

.nav {
  height: $header-h;
  display: flex;
  align-items: center;
  line-height: $header-h$hack;

  &__item {
    font-size: 1.8rem;
    padding: 0 15px;
    height: 100%;
    display: flex;
    align-items: center;
    display: inline-block$hack;

    &.is-active {
      background-color: $orange;

      &::after {
        width: 100%;
        border-color: $orange;
      }
    }
  }
}

.logo {
  display: flex;
  align-items: flex-end;
  position: absolute$hack;

  &__icon {
    background-image: img-url('logo.png');
    background-size: 100%;
    background-repeat: no-repeat;
    width: 50px;
    height: 50px * 379 / 440;
    margin-right: 8px;
    position: absolute$hack;
    margin-top: 9px$hack;
  }

  &__text {
    font-size: 12px;
    padding-left: 55px$hack;
    padding-top: 15px$hack;
  }

  &__cn {
  }

  &__en {
    font-size: 10px;
  }

  &__en-line {
    display: flex;
    justify-content: space-between;
  }
}

// locale
@include lang('en') {
  .header {
    &__right {
      width: 78%;
    }
  }

  .nav {
    &__item {
      font-size: 1.6rem;
      padding: 0 10px;
    }
  }

  .logo {
    align-items: center;
  }
};


// media query
@include media-median {
  .header {
    background: none;

    .logo {
      position: relative;
      z-index: 40;
    }

    &__right {
      position: fixed;
      width: 100%;
      left: 0;
      top: 60px;
      height: 100vh;
      flex-direction: column;
      justify-content: center;
      background-color: rgba(0, 0, 0, 0.9);
      z-index: 20;
      background-size: 100%;
      background-position: left;
      padding-bottom: 60px;
      transform: translateY(-100%);
      transition: all 0.3s;
    }

    .hamburger {
      z-index: 40;
      display: inline-block;
    }

    &.is-active {
      .header__right {
        top: 0;
        transform: translateY(0);
      }
    }
  }

  .nav {
    height: auto;
    flex-direction: column;
    margin-bottom: 20px;

    &__item {
      display: inline-block;
      font-size: 2rem;
      margin-bottom: 20px;
      margin-right: 0;
      padding: 8px 15px;
    }
  }
}
