.icon {
  display: inline-block;
  width: 50px;
  height: 50px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;

  &.icon-address {
    background-image: img-url('icons/icon-address.png');
  }

  &.icon-time {
    background-image: img-url('icons/icon-time.png');
  }

  &.icon-earth {
    background-image: img-url('icons/icon-earth.png');
  }

  &.icon-plan {
    background-image: img-url('icons/icon-plan.png');
  }

  &.icon-inst {
    background-image: img-url('icons/icon-inst.png');
  }

  &.icon-person {
    background-image: img-url('icons/icon-person.png');
  }
}
