.sponsor {
  margin-top: 80px;
  text-align: center;
  font-size: 2.4rem;

  .c-title {
    text-align: left$hack;
  }

  &__content {
    padding: 95px 0;
  }

  &__inline {
    margin-bottom: 50px;
  }

  &__label {
    color: $cyan;
    line-height: 2;
  }

  &__unit {
    line-height: 1.5;
  }

  &__links {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 80px;
    margin-top: 5px;
  }

  &__logo {
    display: inline-block;
    width: 22%;
    line-height: 0;

    img {
      width: 100%;
    }

    &:nth-last-child(n + 5) {
      margin-bottom: 25px;
    }

    &:hover {
      opacity: 0.8;
      transform: translateY(-3px);
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    }
  }
}

// locale
@include lang('en') {
  .sponsor {
    font-size: 2rem;

    &__label {
      font-weight: bold;
    }
  }
}

// media query
@include media-median {
  .sponsor {
    font-size: 1.8rem;
    margin-top: 40px;

    &__content {
      padding: 30px 0;
    }

    &__inline {
      margin-bottom: 25px;
    }

    &__unit {
      font-size: 1.6rem;
    }

    &__links {
      padding: 0;
    }

    &__logo {
      width: 48%;

      &:nth-last-child(n + 3) {
        margin-bottom: 20px;
      }
    }
  }
}
